APP_KEY=

APP_TITLE=
APP_HOST=localhost
APP_PORT=5000

APP_DEBUG=false

NODE_ENV=development

DB_DIALECT=
DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_MIGRATIONS=knex_migrations
